<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create A O&M Project</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="O&M Project Number" formControlName="number" #number>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Project Name" formControlName="projectName" #projectName>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Project Description" formControlName="projectDescription" #projectDescription></textarea>
      </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Project Type" formControlName="projectTypeDescription" #projectTypeDescription>
            <mat-option value="Line">Line</mat-option>
            <mat-option value="Station">Station</mat-option>
            <mat-option value="ROW">ROW</mat-option>
            <mat-option value="N/A">N/A</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Status" formControlName="statusDescription" #statusDescription>
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Closed">Closed</mat-option>
            <mat-option value="Cancelled">Cancelled</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="createOMProject(number.value, projectName.value, projectDescription.value, projectTypeDescription.value, statusDescription.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>
